/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*In order to make that reset easier and more intuitive, you can use the inheriting snippet up at the top there, and the inheriting will be preserved.*/
/*The inherit keyword specifies that a property should inherit its value from its parent element.*/
html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.con {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* 不知道这里是否为可用的公共样式 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-family: 微软雅黑, 宋体;
  font-weight: normal;
  font-style: normal;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"),
    url("iconfont.woff2") format("woff2"), url("iconfont.woff") format("woff"),
    url("iconfont.ttf") format("truetype"),
    url("iconfont.svg#iconfont") format("svg");
}
