@import url(common.css);
@import url(nav.css);
#addPropertyContainer {
  display: none;
  /* display: block; */
}

#deletePropertyContainer {
  text-align: center;
  display: none;
}

#deletePropertyContainer p {
  margin-top: 5px;
}

#modifyProContainer {
  display: none;
}

/* 添加宿舍表格标题 */
.add-panel #addspan {
  position: absolute;
  left: 50%;
  margin-left: -20px;
}

.add-panel,
.delete-panel,
.pro-modify-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  padding: 20px;
  justify-content: center;
}

.add-panel {
  margin-left: -205px;
  margin-top: -159px;
  width: 410px;
  height: 318px;
  display: flex;
}

.delete-panel {
  margin-left: -190px;
  margin-top: -62px;
  width: 380px;
  height: 140px;
}

.pro-modify-panel {
  margin-left: -206px;
  margin-top: -190px;
  width: 412px;
  height: 380px;
}

.add-panel .close,
.delete-panel .close,
.pro-modify-panel .close {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0px solid transparent;
  outline: none;
  cursor: pointer;
  width: 30px;
  position: absolute;
  right: 10px;
  color: lightgray;
}

.mb-3 {
  display: flex;
  align-items: center;
  /* margin-left: 29px; */
}

.add-panel form,
.pro-modify-panel form {
  margin-top: 50px;
}

.add-panel label {
  font-size: 12px;
  /* border: 1px solid red; */
  width: 32%;
  /* padding: 10px; */
}

.pro-modify-panel label {
  font-size: 12px;
  /* border: 1px solid red; */
  width: 25%;
  /* padding: 10px; */
}

.add-panel form .col-sm-10,
.pro-modify-panel form .col-sm-10 {
  width: 67%;
}

.add-panel form .form-control {
  font-size: 12px;
}

#addPropertyContainer .col-auto,
#modifyProContainer .col-auto {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#add-pro-type,
#add-publicProBtn,
#add-pro-use {
  width: 160px;
}

.add-panel .panel-title {
  position: absolute;
  left: 50%;
  margin-left: -20px;
}

.pro-modify-panel .panel-title {
  position: absolute;
  left: 50%;
  margin-left: -30px;
}

.pro-modify-panel .dropdown {
  width: 75%;
}

.pro-modify-panel #modify-pro-type,
.pro-modify-panel #modify-pro-dorm,
.pro-modify-panel #modify-pro-use {
  margin-left: 0;
  width: 88%;
}

.pro-modify-panel #modify-pro-id {
  width: 100%;
}

#modifyProContainer .dropdown-menu {
  min-width: 15rem;
}
