@import url(common.css);
@import url(nav.css);

#charge-record-container {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  background-color: rgba(128, 128, 128, 0.3);
  position: absolute;
  top: 0;
}

#charge-record-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -342px;
  margin-top: -150px;
  width: 684px;
  height: 300px;
  background-color: white;
  padding: 20px;

  /* border: 1px solid red; */
}

#charge-record-panel .close,
.stuDormRepairPanel .close {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0px solid transparent;
  outline: none;
  cursor: pointer;
  width: 30px;
  position: absolute;
  right: 10px;
  color: lightgray;
}

#charge-record-container .table {
  text-align: center;
  margin-top: 20px;
}

#charge-record-container {
  display: none;
  /* display: block; */
}

#addStuContainer {
  display: none;
  /* display: block; */
}

#deleteStuContainer {
  display: none;
  /* display: block; */
}

#modifyStuContainer {
  display: none;
  /* display: block; */
}

.stu-add-panel .panel-title {
  position: absolute;
  left: 50%;
  margin-left: -20px;
}

.modity-panel .panel-title {
  position: absolute;
  left: 50%;
  margin-left: -30px;
}

.stu-add-panel,
.delete-panel,
.modity-panel,
.stuDormRepairPanel {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  padding: 20px;
  /* justify-content: center; */
}

.stu-add-panel {
  margin-left: -205px;
  margin-top: -205px;
  width: 410px;
  display: flex;
}

.delete-panel {
  margin-left: -190px;
  margin-top: -62px;
  width: 380px;
  height: 124px;
}

.modity-panel {
  margin-left: -206px;
  margin-top: -190px;
  width: 412px;
  height: 380px;
}

.stuDormRepairPanel {
  margin-left: -206px;
  margin-top: -190px;
  width: 412px;
  height: 380px;
}

.stu-add-panel .close,
.delete-panel .close,
.modity-panel .close {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0px solid transparent;
  outline: none;
  cursor: pointer;
  width: 30px;
  position: absolute;
  right: 10px;
  color: lightgray;
}

.mb-3 {
  display: flex;
  align-items: center;
  /* margin-left: 29px; */
}

.stu-add-panel form,
.modity-panel form {
  width: 100%;

  margin-top: 50px;
}

.stu-add-panel label {
  font-size: 12px;
  /* border: 1px solid red; */
  width: 21%;
  /* padding: 10px; */
}

.modity-panel label {
  font-size: 12px;
  /* border: 1px solid red; */
  width: 21%;
  /* padding: 10px; */
}

.stu-add-panel form .col-sm-10,
.modity-panel form .col-sm-10 {
  width: 79%;
}

.stu-add-panel form .form-control {
  font-size: 12px;
}

#addStuContainer .col-auto,
#modifyStuContainer .col-auto {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#deleteStuContainer .col-auto,
#modifyStuContainer .col-auto {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#deleteStuContainer p {
  text-align: center;
}

#deleteStuContainer i {
  margin-right: 10px;
}

.form-floating {
  width: 79%;
}

.stu-add-panel .dropdown,
.modity-panel .dropdown {
  width: 79%;
}

.stu-add-panel .dropdown .btn,
.modity-panel .dropdown .btn {
  margin-left: 0;
}

.main-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

#stuDormRepair {
  display: none;
}

#stuDormRepair #addspan {
  position: absolute;
  left: 50%;
  margin-left: -20px;
}

/* #reportDormProperty {
  margin-left: -457px;
  margin-top: -209px;
  width: 914px;
  height: 418px;
} */

#stuDormRepair #table-container {
  margin-top: 50px;
}

#reportDormProperty {
  display: none;
}
.repair-panel {
  margin-left: -190px;
  margin-top: -62px;
  width: 380px;
  height: 124px;
}

.repair-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  padding: 20px;
  justify-content: center;
}

.repair-panel .close {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0px solid transparent;
  outline: none;
  cursor: pointer;
  width: 30px;
  position: absolute;
  right: 10px;
  color: lightgray;
}

#reportDormProperty .col-auto {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#reportDormProperty p {
  text-align: center;
}

#reportDormProperty i {
  margin-right: 10px;
}
